.Util {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.SliderWrapper {
    position: relative;
    height: 85%;
    width: 100%;
    margin: 0 auto;
}

.Slider {
    position: relative;
    height: 300px;
    max-width: 80%;
    margin: 0 auto;
}

.Slide {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;    
}

.ImgCont {
    height: 100%;
    position: relative;
    width: 100%;
}

.Carrousel__slide {
    height: 100%;
    transition: all 355ms linear;
}

.ImagesList ul {
    font-size: calc(6px + 2vmin);
    padding: 0;
    list-style: none;
}

.ImagesList li {
    border:1px solid #ccc;
    background-color: #fff;
    color:#333;
    display: flex;
    text-align: left;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.ImagesList p {
    margin: 0;
    width: 85%;
}

.ImagesList span {
    text-align: center;
    width: 15%
}


@media(min-width:480px) {
    .Slider {
        height: 350px;
    }
}

@media(min-width:767px) {
    .Slider {
        position: relative;
        height: 450px;
        width: 650px;
        margin: 0 auto;
    }    
}