.Util {
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.Slider {
    position: relative;
    height: 150px;
    max-width: 80%;
    margin: 0 auto;
}

.Slide {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;    
}

.ImgCont {
    height: 100%;
    position: relative;
    width: 100%;
}

.Carrousel__slide {
    height: 100%;
    transition: all 355ms linear;
}

@media(min-width:480px) {
    .Slider {
        height: 350px;
    }
}

@media(min-width:767px) {
    .Slider {
        position: relative;
        height: 450px;
        width: 650px;
        margin: 0 auto;
    }
}