.Arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.Right {
    right: -30px;
}

.Left {
    left: -15px;
}

@media(min-width:480px) {
    .Right {
        right: -50px;
    }
    .Left {
        left: -30px;
    }
}