.Arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.Right {
    right: -35px;
}

.Left {
    left: -35px;
}

@media(min-width:480px) {
    .Right {
        right: -50px;
    }
    .Left {
        left: -50px;
    }
}